.LibraryUploadVids {
    /* border: green solid 2px; */
    height: 85.5vh;
    width: 85vw;
    position: absolute;
    overflow-y: scroll;
    overflow-x: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin-left: 100px;
    background-color: rgb(248, 247, 247);
}

.libraryPics {
    padding-bottom: 20px;
}

.LibraryUploadVids .HomePoster:focus,
.LibraryUploadVids .HomePoster:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}