.sidebarContainer {
    display: flex;
    flex-direction: column-reverse;
    /* border: red dotted 1px; */
    box-sizing: border-box;
    /* border: red solid 1px; */

}

.picDiv {
    /* border: blue solid 1px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.sideBarImg {
    height: 94px;
    width: 168px;
    margin-right: 30px;
    /* border: white 1px solid; */
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* border-radius: 3px; */
    position: relative;
    display: block;
    transition: transform 500ms;
}

.sidebarContainer .sideBarImg:focus,
.sidebarContainer .sideBarImg:hover {
    box-shadow: 0px .5px .9px 0px rgba(0, 0, 0, 0.5);
    opacity: .9;
    z-index: 1;
}

.sidebarDescription {
    /* border: red solid 1px; */
    position: relative;
    height: 90px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-left: 0px;
    font-size: 18px;
    margin-left: -20px;
}

.sideDescription {
    /* border: blue solid 1px; */
    margin-top: 5px;
    min-height: 47px;
    font-size: 12px;
    width: 210px;
    overflow: hidden;
}

.sideTitle {
    /* border: blue solid 1px; */
    width: 230px;
    min-height: 37px;
    max-height: 37px;
    height: 25px;
    margin-top: -9px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}