.uploadbodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    /* border: red solid 10px; */
    height: 90vh;
    width: 98vw;
}

.uppg {
    margin-top: 60px;

}


.manFooterImg {
    position: absolute;
    top: 30%;
    left: 10%;
    margin-left: 40px;
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.uploadTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
    width: 100%;
}

.contDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.vidTitleField {
    height: 80px;
    width: 600px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-bottom: 35px;
}

.vidDescriptionField {
    height: 200px;
    width: 600px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-top: 10px;
}

#vidImgUploadField {
    position: absolute;
    border: none;
    padding: 10px;
    background-color: #d3d5f0;
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
    cursor: pointer;
}

#vidImgUploadField:hover {
    background-color: #5021f7df;
}

.vidUploadField {
    position: absolute;
}

.videofield {
    height: 40px;
    width: 250px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 150px;
}


#fake-video-button {
    border: none;
    padding: 10px;
    background-color: #73727690;
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
}

#select-video-button {
    border: none;
    padding: 10px;
    background-color: #d3d5f0;
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
}

#select-video-button:hover {
    background-color: #5021f7df;
}


.strings:hover {
    background-color: #d3d3d3;
}


.videoErr {
    font-size: 15px;
    width: 300px;
    padding: 5px 5px;
    margin-left: -25px;
}


.eachVidError {
    border-bottom: solid 1px rgb(18, 1, 1, .05);
    background-color: rgb(54, 53, 53);
    color: rgb(255, 68, 0);
    padding: 5px;
}


.upload-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40vh;
    margin-bottom: 20px;
}

.description {
    margin-top: -10px;
}

.videotext {
    height: 100px;
    width: 251px;
}

.videotext:hover {
    background-color: #d3d3d3;
}

.submitvideobtn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.175rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 4px;
    align-items: center;
    color: white;
    padding: 5px 10px;
    margin-left: 417px;
    margin-top: 10px;
}

.submitvideobtn:hover {
    opacity: .8;
}



@keyframes pulse-animation {
    0% {
        opacity: 0%;
    }

    .25% {
        opacity: .15%;
    }

    .50% {
        opacity: .30%;
    }

    .75% {
        opacity: .40%;
    }

    100% {
        opacity: .50;
    }


}

.videoUploadArrow {
    padding-left: 28.5px;
    font-size: 20.5px;
    animation: slide-in 3s infinite linear;

}

.videoUploadCloud {
    padding-left: 26.9px;
    font-size: 23px;

}

.videoUploadIcon {
    overflow: hidden;
    animation: slide-in 3s infinite linear;
}



@keyframes slide-in {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-109%);
    }
}


.firstCon {
    height: 76vh;
    width: 500px;
}

.firstCon>div {
    height: 10px;
    width: 10px;
}

.dot {
    margin-left: 4%;
    margin-top: 105px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}


@media (max-width: 1548px) {
    .fade {
        visibility: hidden;
    }
}

@media (min-width: 1550px) {
    .fade {
        visibility: visible;
    }
}

.loadingIcons {
    display: flex;
    flex-direction: column;
}

.approvedFileLabel {
    font-size: 12px;
    width: 250px;
    display: flex;
    align-items: center;
}

.errorsFile {
    background-color: rgba(254, 2, 2, 0.63);
    color: black;
}

.previewVideoComp {
    height: 305px;
    background: url('https://static.vecteezy.com/system/resources/previews/002/184/666/non_2x/couple-enjoying-watching-drive-in-cinema-free-vector.jpg') no-repeat center;
    border: black 10px solid;
    background-color: rgb(16, 16, 16);
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    width: 600px;
    position: absolute;
    margin-left: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;

}

.previewDisplayTitle {
    position: absolute;
    /* border: red solid 1px; */
    margin-left: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoDisplayTitle {

    margin-right: 350px;
    width: 400px;

}

.uploadImgComp {
    position: absolute;
    height: 300px;
    background-color: black;
    border: black 10px solid;
    background-color: rgb(16, 16, 16);
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    width: 550px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 700px;

}

.ImgDisplayTitle {
    position: absolute;
    margin-top: 370px;
}