.uploadbodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: red solid 10px; */
    overflow: scroll;
    background-color: white;
    height: 97vh;
    width: 100%;
}

.upload-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    align-self: center;
    /* border: red solid 1px; */
}

.cp {
    cursor: pointer;
}


.coolcolortube {
    /* position: absolute; */
    font-size: 22px;
    transform: scale(1.2);
    /* border: red solid 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: -50px;
}

.uppg {
    font-size: 24px;
    display: flex;
    align-items: center;
}



.upload-form {
    height: fit-content;
    min-height: fit-content;
    margin-top: 80px;
    width: fit-content;
    padding: 0 30px;
    min-width: fit-content;
    border-radius: 5px;
    box-shadow: .1px .2px .1px rgb(rgb(0, 0, 0));
    border: .1px solid rgba(99, 98, 98, 0.569);
    background-color: white;
}

.editOpenModalDiv {
    padding: 10px;
    position: absolute;
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    box-shadow: .1px .2px .1px rgb(rgb(0, 0, 0));
    border: .1px solid rgba(99, 98, 98, 0.569);
    background-color: white;
    border-radius: 3px;
}

.editOpenModalBtn {
    height: 45px;
    width: 225px;
    position: absolute;
    border: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    z-index: 1;
    font-size: 20px;
}

.slant1 {
    position: absolute;
    border-top: 1px solid black;
    width: 106.5%;
    transform: rotate(20.3deg);
}

.slant2 {
    position: absolute;
    border-top: 1px solid black;
    width: 106.5%;
    transform: rotate(-20.3deg);
}

.contDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.uploadTitleDescDiv {
    margin-top: 15px;
    /* border: red solid 1px; */
}

.vidTitleField {
    height: 80px;
    width: 700px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-bottom: 35px;
}

.vidDescriptionField {
    height: 200px;
    width: 700px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-top: 10px;
}



#vidImgUploadField:hover {
    opacity: .9;
}

.submitvideobtn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.575rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    height: 55px;
    width: 220px;
    border: none;
    border-radius: 4px;
    align-items: center;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
}

.vidUploadField {
    position: absolute;
}

.videofield {
    height: 40px;
    width: 250px;
}

.splitintwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.splitintwo>* {
    padding: 10px;
}

.previewVideoComp {
    height: 180px;
    width: 320px;
    background-color: var(--gm-colortextbutton-ink-color, #051c39);
    box-shadow: 1.7px .7px .2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 10px;

}

#select-video-button {
    border: none;
    padding: 10px;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin: 35px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
}

#select-video-button:hover {
    opacity: .8;
}

.uploadImgComp {
    height: 180px;
    width: 320px;
    background-color: black;
    background-color: var(--gm-colortextbutton-ink-color, #051c39);
    box-shadow: 1px 1px .2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#vidImgUploadField {
    position: absolute;
    border: none;
    padding: 10px;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
    cursor: pointer;
}


.strings:hover {
    background-color: #d3d3d3;
}


.videoErr {
    font-size: 15px;
    width: 300px;
    padding: 5px 5px;
    margin-left: -25px;
}


.eachVidError {
    border-bottom: solid 1px rgb(18, 1, 1, .05);
    background-color: rgba(48, 55, 251, 0.243);
    color: rgb(255, 47, 5);
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}




.description {
    margin-top: -10px;
}

.videotext {
    height: 100px;
    width: 251px;
}

.videotext:hover {
    background-color: #d3d3d3;
}



.submitvideobtn:hover {
    opacity: .8;
}



@keyframes pulse-animation {
    0% {
        opacity: 0%;
    }

    .25% {
        opacity: .15%;
    }

    .50% {
        opacity: .30%;
    }

    .75% {
        opacity: .40%;
    }

    100% {
        opacity: .50;
    }


}

.videoUploadArrow {
    padding-left: 28.5px;
    font-size: 20.5px;
    animation: slide-in 3s infinite linear;

}

.videoUploadCloud {
    padding-left: 26.9px;
    font-size: 23px;

}

.videoUploadIcon {
    overflow: hidden;
    animation: slide-in 3s infinite linear;
}



@keyframes slide-in {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-109%);
    }
}


.firstCon {
    height: 76vh;
    width: 500px;
}

.firstCon>div {
    height: 10px;
    width: 10px;
}

.dot {
    margin-left: 4%;
    margin-top: 105px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}


@media (max-width: 1548px) {
    .fade {
        visibility: hidden;
    }
}

@media (min-width: 1550px) {
    .fade {
        visibility: visible;
    }
}

.loadingIcons {
    display: flex;
    flex-direction: column;
}

.errorsFile {
    background-color: rgba(202, 202, 202, 0.63);
    color: black;
}