.uploadbodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    /* border: red solid 10px; */
    height: 90vh;
    width: 98vw;
    /* background: url('https://d3c9ouasuy8pg6.cloudfront.net/dist/images/signup-bg-light_baa27c5957a33417853bf54b523adf5a.png') no-repeat center; */
}


.upload-container {
    margin-top: 5px;
    padding: 25px;
    border: rgb(230, 227, 227) 1px solid;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.395);
    position: absolute;
    left: 15%;
}

.boxFooter {
    position: absolute;
    background-size: cover;
    z-index: -1;
    margin-top: 420px;
    margin-left: 40px;
    width: 98vw;
}

.manFooterImg {
    position: absolute;
    top: 30%;
    left: 10%;
    margin-left: 40px;
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.uploadTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
    width: 100%;
}

.contDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.videofield {
    height: 40px;
    width: 250px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#fake-video-button {
    border: none;
    padding: 10px;
    background-color: #73727690;
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
}

#select-video-button {
    border: none;
    padding: 10px;
    background-color: #d3d5f0;
    margin: 5px 0px 10px 0px;
    width: 250px;
    transition: background-color, transform .3s ease-in-out;
}

#select-video-button:hover {
    background-color: #5021f7df;
    transform: scale(1.05);
}


.strings:hover {
    background-color: #d3d3d3;
}


.videoErr {
    font-size: 15px;
    width: 300px;
    padding: 5px 5px;
    margin-left: -25px;
}


.eachVidError {
    border-bottom: solid 1px rgb(18, 1, 1, .05);
    background-color: rgb(54, 53, 53);
    color: rgb(255, 68, 0);
    padding: 5px;
}


.upload-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40vh;
    margin-bottom: 20px;
}

.description {
    margin-top: -10px;
}

.videotext {
    height: 100px;
    width: 251px;
}

.videotext:hover {
    background-color: #d3d3d3;
}

.submitvideobtn {
    border: none;
    height: 45px;
    width: 250px;
    background-color: #d3d5f0;
    border: solid white 1.5px;
    border-radius: 5px;
    transition: transform .3s ease-in;
    font-size: 20px;
}

.submitvideobtn:hover {
    transform: scale(1.07);
    background-color: #5021f7df;
}

.fade {
    /* animation: pulse-animation 3s infinite; */
}

@keyframes pulse-animation {
    0% {
        opacity: 0%;
    }

    .25% {
        opacity: .15%;
    }

    .50% {
        opacity: .30%;
    }

    .75% {
        opacity: .40%;
    }

    100% {
        opacity: .50;
    }


}

.videoUploadArrow {
    padding-left: 28px;
    font-size: 20.5px;
    animation: slide-in 3s infinite linear;

}

.videoUploadCloud {
    padding-left: 27.5px;
    font-size: 22px;

}

.videoUploadIcon {
    overflow: hidden;
    animation: slide-in 3s infinite linear;
}

/* @keyframes hopping {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }

}
*/

@keyframes slide-in {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-105%);
    }
}


.firstCon {
    /* border: solid red 1px; */
    height: 76vh;
    width: 500px;
}

.firstCon>div {
    height: 10px;
    width: 10px;
}

.dot {
    margin-left: 4%;
    margin-top: 105px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot1 {
    margin-left: 13.5px;
    margin-top: 17px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot2 {
    margin-left: 48px;
    margin-top: 94px;

    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot3 {
    margin-left: 113px;
    margin-top: 129px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot4 {
    margin-left: 175px;
    margin-top: 92.7px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}



.dot5 {
    margin-left: 207px;
    margin-top: 12.8px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot6 {
    margin-left: 200px;
    margin-top: -60.5px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot7 {
    margin-left: 163.6px;
    margin-top: -107px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot8 {
    margin-left: 113px;
    margin-top: -119px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

.dot9 {
    margin-left: 60px;
    margin-top: -103px;
    background-color: blue;
    opacity: 20%;
    border-radius: 50%;
}

@media (max-width: 1548px) {
    .fade {
        visibility: hidden;
    }
}

@media (min-width: 1550px) {
    .fade {
        visibility: visible;
    }
}

.loadingIcons {
    display: flex;
    flex-direction: column;
}

.approvedFileLabel {
    font-size: 12px;
    width: 250px;
    display: flex;
    align-items: center;
}

.errorsFile {
    background-color: rgba(254, 2, 2, 0.63);
    color: black;
}

.previewVideoComp {
    height: 305px;
    background: url('https://static.vecteezy.com/system/resources/previews/002/184/666/non_2x/couple-enjoying-watching-drive-in-cinema-free-vector.jpg') no-repeat center;
    border: black 10px solid;
    background-color: rgb(16, 16, 16);
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    width: 600px;
    position: absolute;
    margin-left: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;

}

.previewDisplayTitle {
    position: absolute;
    /* border: red solid 1px; */
    margin-left: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoDisplayTitle {

    margin-right: 350px;
    width: 400px;

}

.uploadImgComp {
    position: absolute;
    height: 300px;
    background-color: black;
    border: black 10px solid;
    background-color: rgb(16, 16, 16);
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.151);
    border-radius: 2px;
    background-size: cover;
    /* z-index: 1; */
    width: 550px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 700px;

}

.ImgDisplayTitle {
    position: absolute;
    margin-top: 370px;
}