.homechannelList {
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    margin-right: 20px;
    padding: 10px;
}

/* .homechannelList::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(205, 205, 205, 0.982);
    border-radius: 10%;
    border-bottom: rgb(72, 71, 72, .5) solid 1px;
    margin-top: -10px;
} */

.homeEachChannel {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    min-width: fit-content;
    /* border: rgba(0, 0, 0, 0.235) solid .2px; */
    box-shadow: .5px 1.5px .5px rgba(0, 0, 0, 0.235);
    background-color: #e9e9ea;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: transform, color, background-color .3s ease-in-out;
    font-size: 13px;
    cursor: pointer;
}

.homeEachChannel:hover {
    background-color: #d8d8d8;
}

.homeEachChannel.active {
    background-color: #000000;
    color: white;
    /* border: .2px rgb(30, 6, 247) solid; */

}

.homechannelList.active {
    background-color: #000000;
    color: white;
    /* border: .2px rgb(30, 6, 247) solid; */

}



.homeChannels {}