*::-webkit-scrollbar {
    color: beige;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border-bottom: rgba(221, 221, 221, 0.5) solid 1px;
    box-shadow: .1px .2px .1px rgba(78, 78, 78, 0.5);
    z-index: -1;
    visibility: hidden;
    height: 2px;
    width: 2px;
}

.man {
    height: 1px;
    color: beige;
    background-color: rgba(205, 205, 205, 0.014);
    border-radius: 10%;
    border-bottom: rgba(221, 221, 221, 0.5) solid 1px;
    box-shadow: .1px .2px .1px rgba(78, 78, 78, 0.5);
}

.homechannelList {
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin-right: 20px;
    padding: 10px 5px 0px 5px;
}

.homechannelList::-webkit-scrollbar {
    height: 1px;
    color: beige;
    background-color: rgba(205, 205, 205, 0.014);
    border-radius: 10%;
    border-bottom: rgba(221, 221, 221, 0.5) solid 1px;
    box-shadow: .1px .2px .1px rgba(78, 78, 78, 0.5);
    margin-top: -10px;
}

.homeEachChannel {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 7px 10px 7px 10px;
    border-radius: 50px;
    min-width: fit-content;
    background-color: #ceced084;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: transform, color, background-color .3s ease-in-out;
    font-size: 13px;
    cursor: pointer;
    text-transform: capitalize;
    border: rgba(0, 0, 0, 0.123) solid .05px;
}

.homeEachChannel:hover {
    background-color: #d8d8d8;
}

.homeEachChannel.active {
    background-color: #000000;
    color: white;
    /* border: .2px rgb(30, 6, 247) solid; */

}

.homechannelList.active {
    background-color: #000000;
    color: white;
    /* border: .2px rgb(30, 6, 247) solid; */

}



.homeChannels {
    position: sticky;
    top: 20;

}