.allVideos {
    padding: 50px;
    flex-direction: row;
    /* border: red 1px solid; */
    overflow-wrap: normal;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.HomePosterDesc {
    /* border: red solid 1px; */
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}

.HomePoster {
    height: 190px;
    width: 200px;
    position: relative;
    display: block;
    transition: .3s ease-in-out;
    transition: transform 500ms;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.firstBlockDiv {
    height: 250px;
    width: 200px;
}

.videoListAvtr {
    margin-left: 8px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -15px;
    transition: .3s ease-in-out;
}


.videoListAvtr:hover {
    transform: scale(1.2);
}


.PosterTitle {
    margin-top: 20px;
    margin-left: 60px;
    /* border: red solid 1px; */
    position: absolute;
    width: 14%;
    height: 60px;
    font-family: 'Gentium Plus', serif;
    font-size: 15px;
    font-weight: bold;
    overflow: wrap;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.channelNamePost {
    position: absolute;
    margin: -55px 0px 0px 43px;
    padding-left: 10px;

}

.channelNamePost {
    margin-bottom: 2px;
}

.allVideos .HomePoster:focus,
.allVideos .HomePoster:hover {
    transform: scaleX(1.4) scaleY(1.9);
    z-index: 1;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1091px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .PosterTitle {
        margin-top: 20px;
        margin-left: 60px;
        /* border: red solid 1px; */
        position: absolute;
        width: 17%;
        height: 60px;
        font-family: 'Gentium Plus', serif;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 991px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 791px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 650px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}