/* .video-js {
    border: red solid 1px;
    height: 80vh;
    width: 100vw;
} */



.videoPlayerDiv {
    /* border: blue 1px solid; */
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.descriptionText {
    overflow-x: wrap;
    overflow-y: hidden;
    height: 50px;
    padding: 10px;
}

.descriptionTextFull {
    overflow-x: wrap;
    height: fit-content;
    padding: 10px;
}

.read-more-button {
    position: relative;
    border: none;
    color: rgb(130, 129, 129);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: color .2s ease-in-out;
}

.read-more-button:hover {
    color: rgb(0, 0, 0);
}

/* .testText {
    text-overflow: ellipsis;
    height: 10px;
}

.testTextdiv {
    text-overflow: ellipsis;
    height: 10px;
    overflow: hidden;
}

*/

.VideoInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: red solid 1px;
    margin-left: 35px;
    margin-right: 25px;
    max-width: 1090px;

}

.uploader-fullname {
    display: flex;
    flex-direction: column;
    border: blue solid 1px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;

}

.singleview {
    margin: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

/* .singleline {
    margin: 20px;

} */

.descriptionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    border: red 1px solid;
    margin-left: 35px;
    margin-top: 40px;
    margin-right: 25px;
    max-width: 1090px;
}

.videoDescription {
    border: blue solid 1px;
    margin-left: 109px;
    width: 70%;
    max-width: 990px;

}

.displayname {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 0px;
}

.editVideoBtn {
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    transition: transform 500ms;
    width: 130px;
    font-size: 17px;
    border-radius: 5px;
}

.editVideoBtn:hover {
    transform: scale(1.1);
    background-color: rgba(230, 230, 249, 0.831);
}

.editVideoBtn:hover() {
    transform: scale(1.5);
    z-index: 1;
}

.singlePageEditbtn {
    height: 35px;
    width: 130px;
    border-radius: 3%;
    color: white;
    font-size: 15px;
    background-color: rgb(31, 7, 246);
    border: rgb(253, 247, 247);
    padding: 5px;
    transition: transform, .3s ease-in-out;
}

.singlePageEditbtn:hover {
    transform: scale(1.1);
}

.likeIconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    /* border: red solid 1px; */
    padding: 5px;
    font-size: 25px;
}

.likeCount {
    font-size: 15px;
}


.bottomLine-vid {
    border-bottom: rgba(136, 136, 136, 0.511) solid .1px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 25px;
}


.vidDescCount {
    border: red solid 1px;
    font-size: 15px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.814);
    margin-left: 35px;
    margin-top: 1px;
    margin-right: 25px;
    max-width: 1090px;

}