@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Arsenal', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Quicksand', sans-serif;
}

.timetube {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    margin-top: -15px;
    cursor: pointer;
    margin-bottom: -25px;
}


.ttli {
    margin-left: -15px;
}

.loginBody {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    background-color: white;
    z-index: 1;
    position: relative;
}

.logField {
    height: 55px;
    width: 375px;
    border: #7b7b7b82 solid .1px;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 15px;
    color: #000000;
}

.signFullnameInput {
    height: 55px;
    width: 194px;
    border: #7b7b7b82 solid .1px;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 15px;
    color: #000000;
}

.signField {
    height: 55px;
    width: 400px;
    border: #7b7b7b82 solid .1px;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 15px;
    color: #000000;
}



.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}


.logInheader {
    color: #202124;
    padding-bottom: 0;
    padding-top: 50px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
    position: relative;
}

.logInContinue {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8px;
    margin-bottom: -15px;
    margin-top: -5px;
}


.loginForm {
    font-size: 20px;
    margin-top: 30%;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 2s ease-in-out;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5);
}

.lloginbtn {
    margin-top: 10px;
}

.loginBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: red solid 1px; */
    height: 100px;
    width: 65%;
    margin-left: 117px;
    position: relative;
}

.loginbtn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 3px;
    align-items: center;
    color: white;
    padding: 5px 10px;
}

.loginbtn:hover {
    opacity: .9;
}

#demoUserBtn {
    margin-top: 5px;
}

.inputLabel {
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 15px;
}

.left-Border {
    margin: 3% 3% 8% 0px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: black 1px solid;
    margin-right: 15px;
    padding: 20px;
}

.submitLoginBtn {
    border: none;
    height: 40px;
    width: 250px;
    background-color: whitesmoke;
    border: solid white 1.5px;
    border-radius: 5px;
    font-size: 20px;
}

.submitLoginBtn:hover {
    background-color: #d3d3d3;
}



.fullnameSign {
    width: 120px;
    height: 40px;
}

.first {
    margin-right: 5px;
}

.last {
    margin-left: 5px;
}




.body {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    background-color: white;
    z-index: 1;
    position: relative;
}

.signUpContainer {
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.signUpform {
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 2s ease-in-out;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 500px;
    height: 700px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5);
}



.signUpbtn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    height: 45px;
    width: 155px;
    border: none;
    border-radius: 3px;
    align-items: center;
    color: white;

    padding: 5px 10px;
    margin-left: 250px;
}

.signUpbtn:hover {
    opacity: .8;
}

.loginnav {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: transform, .3s ease-in-out;
    text-decoration: none;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -192px;
}

.loginnav:hover {
    color: var(--gm-colortextbutton-ink-color, #1900ff);
}


.signupnav {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: transform, .3s ease-in-out;
    text-decoration: none;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 540px;

}

.signupnav:hover {
    color: var(--gm-colortextbutton-ink-color, #1900ff);
}

.haveAccount {
    color: black;
}

.toLogin {
    text-decoration: none;
    color: #1a73e8;
    /* margin-top: 40px; */
    /* border: red solid 1px; */
    position: absolute;
    width: 80px;
    padding: 5px 10px;
    min-width: fit-content;
    font-size: 15px;
    margin-left: -230px;
    margin-top: -35px;
}

.toLogin:hover {
    color: #1900ff;
}

.errors {
    /* border: red solid 1px; */
    margin-top: -40px;
    font-size: 15px;
    width: 300px;
    padding: 5px 5px;
}

.eachError {
    border-bottom: solid 1px rgb(18, 1, 1, .05);
    margin-bottom: 5px;
    background-color: rgb(54, 53, 53);
    color: rgb(255, 68, 0);
    padding: 5px;
}

.signUpheader {
    color: #202124;
    padding-bottom: 0;
    padding-top: 50px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
    position: relative;
}

.left-Border-sign {
    width: 100%;
}