.bodyContainer {
    height: fit-content;
    width: 98vw;
    /* border: red solid 10px; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
}

.firstVidCon {
    /* border: red solid 5px; */
    /* width: 70%; */
    height: 100%;
}

.editVideoForm {
    /* margin-left: 15%; */
}

.edit-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* border: red solid 1px; */
    margin: 10px 0;
}

.editTitleHeader {
    font-family: "YouTube Sans", "Roboto", "Arial", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    white-space: nowrap;
}


#select-img-button {
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.editTitleField {
    height: 80px;
    width: 700px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-bottom: 35px;
    text-transform: capitalize;
}

.editDescriptionField {
    height: 200px;
    width: 700px;
    border-radius: 5px;
    border: .1px solid rgba(99, 98, 98, 0.569);
    padding-left: 10px;
    padding-top: 10px;
    text-transform: capitalize;

}

.thumbnailEditHeader {
    font-family: "YouTube Sans", "Roboto", "Arial", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    white-space: nowrap;
}

.editPreviewImages {
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
    /* border: red solid 1px; */
}

.thumbnailHeader {
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 24px;
    color: var(--ytcp-text-primary);
}

.currThumbnail {
    margin-right: 30px;
}

.newThumbnail {}

.secondVidCon {
    /* border: red solid 5px; */
    /* width: 30%; */
    height: 100%;
    padding: 20px;
}

.videoPlayerComp {
    background-color: rgba(192, 192, 192, 0.159);
    margin-top: 53px;
    width: 320px;
    border-radius: 1px;
}

.edit-video-js {
    background-color: black;
}

.videoDisplayTitle {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;

    /* border: red solid 1px; */
}

.CommentTitleandCount {
    margin-top: 30px;
    margin-bottom: -30px;
}

.userViewComments {
    margin-top: 35px;
    border: .1px rgba(128, 128, 128, 0.41) solid;
    box-shadow: .1px .3px .1px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    height: 390px;
    width: 320px;
    overflow: auto;
    padding: 5px 2px 0 5px;
    /* overflow-x: hidden; */
}

.userViewComments::-webkit-scrollbar {
    background-color: rgba(113, 113, 113, 0.303);
    border-radius: 10%;
    border-bottom: rgba(221, 221, 221, 0.5) solid 1px;
    box-shadow: .1px .2px .1px rgba(78, 78, 78, 0.5);
    z-index: -1;
    visibility: visible;
    height: 2px;
    width: 5px;
}

.editCommentsDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(99, 98, 98, 0.048);
    height: fit-content;
    margin-bottom: 5px;
    border-radius: 10px;
}



.commentNameContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.editCommFullname {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.editCommContent {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 13px;
}

.commentTimeSession {
    font-size: 10px;
    position: absolute;
    width: fit-content;
    top: 1px;
    left: 60px;
}

.DelComEditPg {
    /* border: red solid 1px; */
    /* margin-left: 90px; */
    position: relative;
}


.ConfirmDel {
    margin-left: -35px;
    margin-top: -8px;
    position: absolute;
    /* border: red solid 1px; */
    z-index: 1;
    font-weight: bold;
    color: var(--gm-colortextbutton-ink-color, #e8431a);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delcommIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5px 5px;
}

.commComfirmDel {
    font-size: 15px;
    height: 20px;
    width: 42px;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    border: none;
    border-radius: 3px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.commComfirmDel:hover {
    opacity: .9;
}

.editVideoViewCountDiv {
    margin-top: 2.5px;
    font-size: 14px;
    font-family: 'Kalam', cursive;
    color: rgba(0, 0, 0, 0.814)
}

.gotovideo {
    font-size: 15px;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    border-radius: 3px;
    padding: 5px 24px;
    border: blue solid 1px;
    width: fit-content;
    margin: 5px;
    margin-left: 15px;
    color: white;
    cursor: pointer;

}

.editBtnsDiv {
    background-color: white;
    margin-top: 40px;
}

.editSubmitbtns {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.25rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 4px;
    align-items: center;
    color: white;
    padding: 5px 10px;
}