.channelList {
    /* border: red solid 1px; */
    padding: 5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
}

.eachChannel {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    min-width: fit-content;
    /* border: rgba(0, 0, 0, 0.235) solid .2px; */
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.235);
    background-color: rgba(45, 43, 184, 0.224);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: transform, background-color .3s ease-in-out;
    font-size: 12px;
    cursor: pointer;
}

.eachChannel:hover {
    transform: scale(1.06);
    background-color: rgb(168, 150, 253);
    /* border: .2px rgb(30, 6, 247) solid; */

}

.eachChannel.active {
    transform: scale(1.06);
    background-color: rgb(92, 61, 249);
    /* border: .2px rgb(30, 6, 247) solid; */

}

.channelVideoTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: -30px;
    font-size: 20px;
}

.borderBottom {
    padding: 10px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.393);
    width: 95%;
}

.channelList::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(205, 205, 205, 0.982);
    border-radius: 10%;
    margin: 0px 5px 0px 5px;
    border-bottom: rgb(72, 71, 72, .5) solid 1px;
}

.vidPlayIcon {
    position: relative;
    margin: 5px -7px 0px 0px;
    font-size: 15px;
}

.channelIconName {
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.noVideosFound {
    height: 83.3vh;
    width: 99.7vw;
    background: url() no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noVideosFoundImg {
    height: 80%;
    width: 60%;
}