.Single-Page-Div {
    border: red solid 5px;
    overflow: hidden;
    /* margin-left: 3.5%; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
}

.single-videopage-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 70vw;
    border: green 2px solid;
}

.single-video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    border: brown 2px solid;
    margin-right: 10px;
}



.single-video-container>* {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.video-sidebar-div {
    position: relative;
    border: black 2px solid;
    width: 30vw;
}

.commentsCount {
    cursor: pointer;
    border: red solid 1px;
    margin-left: 80px;
    margin-right: 25px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    max-width: 1090px;

}

.comment-single-page-box {
    margin-left: 40px;
    border: green solid 2px;
}

.singlevid-border-Top-line {

    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 25px;
    border-top: 1px solid black;
    opacity: .3;
}

@media all and (min-width: 1752px) {
    .single-videopage-container {
        border: brown solid 5px;
        margin-left: 50px;
    }

    .video-description-comments-div {
        border: brown solid 5px;
        margin-left: 100px;
    }


}

@media all and (min-width: 1852px) {
    .single-videopage-container {
        border: blue solid 5px;
        margin-left: 150px;
    }

    .video-description-comments-div {
        border: blue solid 5px;
        margin-left: 200px;
    }

}

@media all and (min-width: 1972px) {
    .single-videopage-container {
        border: black solid 5px;
        margin-left: 250px;
    }

    .video-description-comments-div {
        border: black solid 5px;
        margin-left: 300px;
    }
}

@media all and (min-width: 2132px) {
    .single-videopage-container {
        border: blue solid 5px;
        margin-left: 350px;
    }

    .video-description-comments-div {
        border: blue solid 5px;
        margin-left: 400px;
    }
}

@media all and (min-width: 2332px) {
    .single-videopage-container {
        border: green solid 5px;
        margin-left: 450px;
    }

    .video-description-comments-div {
        border: pink solid 5px;
        margin-left: 500px;
    }
}

@media all and (min-width: 2632px) {
    .single-videopage-container {
        border: purple solid 5px;
        margin-left: 650px;
    }

    .video-description-comments-div {
        border: purple solid 5px;
        margin-left: 700px;
    }
}

@media all and (min-width: 2932px) {
    .single-videopage-container {
        border: green solid 5px;
        margin-left: 850px;
    }

    .video-description-comments-div {
        border: pink solid 5px;
        margin-left: 900px;
    }
}

@media all and (min-width: 3232px) {
    .single-videopage-container {
        border: blue solid 5px;
        margin-left: 1050px;
    }

    .video-description-comments-div {
        border: blue solid 5px;
        margin-left: 1100px;
    }
}


@media all and (min-width: 3532px) {
    .single-videopage-container {
        border: green solid 5px;
        margin-left: 1250px;
    }

    .video-description-comments-div {
        border: green solid 5px;
        margin-left: 1200px;
    }
}