.single-videopage-container {
    display: flex;
    flex-direction: column;
    width: 99vw;
    /* overflow-x: auto; */
    max-width: fit-content;
    min-width: fit-content;
    overflow: hidden;
}


.video-comments-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    overflow: scroll;
    /* border: green 5px dotted; */
}

.video-description-comments-div {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
    /* overflow-x: scroll; */
    /* border: blue 1px dotted; */
}

.video-sidebar-div {
    /* border: black 2px dotted; */
    width: 30%;
}

.countSort {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.commentsCount {
    font-size: 20px;
    top: 10%;
    position: relative;
    margin-top: -125px;
    margin-bottom: 90px;
    /* margin: 20px 0px -30px 20px; */
}

@media (max-width: 991px) {
    .video-comments-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 1000px;
        overflow: scroll;
        /* border: green 5px dotted; */
    }
}

@media (max-width: 791px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 650px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}