.single-videopage-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* overflow-x: auto; */
    max-width: fit-content;
    min-width: fit-content;
    /* overflow: hidden; */
}


.video-comments-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 1000px;
    overflow: scroll;
    /* border: green 5px dotted; */
}

.video-description-comments-div {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 10px;
    width: 70vw;
    /* overflow-x: scroll; */
    /* border: blue 1px dotted; */
}

.video-sidebar-div {
    /* border: black 2px dotted; */
    width: 30%;
}

.countSort {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.commentCount {
    font-size: 20px;
    margin: 20px 0px -30px 20px;
}