.single-videopage-container {
    display: flex;
    flex-direction: column;
    /* overflow-x: auto; */
    max-width: fit-content;
    min-width: fit-content;
    overflow: hidden;

}

.Single-Page-Div {
    /* border: red solid 1px; */
    overflow: hidden;
    margin-left: 3.5%;
}


.video-comments-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    overflow: hidden;
    /* border: green 5px dotted; */
}

.video-description-comments-div {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 10px;
    width: 1000px;
    /* overflow-x: scroll; */
    /* border: blue 1px dotted; */
}

.video-sidebar-div {
    /* border: black 2px dotted; */
    width: 30%;
    position: absolute;
    right: 20px;
    margin-top: 86px;
    transform: scale(1.1);
}

.countSort {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.commentsCount {
    font-size: 20px;
    top: 10%;
    position: relative;
    margin-top: -125px;
    margin-bottom: 90px;
    /* margin: 20px 0px -30px 20px; */
}

/* #2 */
.commentsCount {
    position: absolute;
    margin-bottom: 220px;
    margin-left: 20px;
    margin-top: 300px;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 991px) {
    .video-comments-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 1000px;
        overflow: scroll;
        /* border: green 5px dotted; */
    }
}

@media all and (min-width: 1662px) {
    .single-videopage-container {
        border: brown solid 5px;
        padding-left: 50px;
    }
}


@media all and (min-width: 1712px) {
    .single-videopage-container {
        border: brown solid 5px;
        padding-left: 150px;
    }
}

@media all and (min-width: 1762px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 250px;
    }
}

@media all and (min-width: 1812px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 300px;
    }
}

@media all and (min-width: 1862px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 400px;
    }
}



@media all and (min-width: 1962px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}

@media all and (min-width: 2012px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 550px;
    }
}

@media all and (min-width: 2062px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 600px;
    }
}

@media all and (min-width: 2132px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 700px;
    }
}

@media all and (min-width: 2192px) {
    .single-videopage-container {
        border: cyan solid 5px;
        padding-left: 550px;
    }
}

@media all and (min-width: 1612px) {
    .Single-Page-Div {
        border: blue solid 5px;
        overflow: hidden;
        margin-left: 3.5%;
        display: flex;
        flex-direction: row;
        width: 97vw;
        position: relative;
    }

    .single-videopage-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        width: 70vw;
        border: red 2px solid;
        padding-left: 70px;
        /* padding-left: 500px; */
    }

    .video-sidebar-div {
        position: relative;
        justify-content: flex-start;
        align-items: center;
        border: black 2px solid;
        width: 25vw;

    }
}