* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: whitesmoke;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 13%;
    list-style: none;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #303030;
    margin-bottom: 1px;
    z-index: 10;
    position: relative;
}

.navbar.navlinks {
    position: absolute;
    top: 0;
    left: 0;
}

.navlinks {
    position: relative;
    list-style-type: none;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    text-align: center;
    justify-self: center;
    padding: 3px;
    font-size: medium;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navlinks:hover {
    font-size: 16px;
    color: black;
    z-index: 1;
    transform: scale(1.1);
    /* background-color: whitesmoke; */
}

.navlinks.homeIcon {
    color: black;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: whitesmoke 1px solid;
    padding: 25px;
    border-radius: 6px;
    color: black;
    margin-top: 10px;
}

.dropdown button {
    background-color: white;
    border: solid .3px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: medium;
    font-family: "Inter", sans-serif;
    padding: 3px 9px;
}

.dropdown button:hover {
    background-color: whitesmoke;
    border-color: solid .3px gray;
}

.profile-dropdown>div {
    padding: 5px;
    font-size: large;
}

.sidenavbar {
    background-color: none;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 100px;
}

.menu-bars {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    background: none;
}

.menuIcon {
    color: black;
}

.navmenuIcon {
    color: black;
    position: absolute;
    left: 3%;
    top: 30%;
}

.nav-menu {
    background-color: whitesmoke;
    box-shadow: 0px 5px 15px rgb(62, 59, 59);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: white;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-left: 140px;
}

span {
    margin-left: 16px;
}

.UploadIcon {
    font-size: 19px;
    color: black;
}

.homeScreenIcon {
    height: 50px;
    width: 50px;
    object-fit: contain;
    /* border-radius: 50%; */
}

.logoContainer {
    position: absolute;
    left: 5%;
}

.logoPicName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.websiteName {
    font-family: 'Macondo', cursive;
    font-size: 17px;
}

.sideLogo {
    top: -3%;
}

.githubLinkDiv {
    position: absolute;
    margin: 20px;
    margin-left: 30px;
    margin-top: 50px;
    right: 20%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.githubLinkTitle {
    margin-bottom: -15px;
    color: black;
}

.nav-text {
    margin-top: 10px;
}

.logOutBtn {
    position: absolute;
    right: 4%;
    top: 20%;
    color: black;
    font-size: 25px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    transition: transform .5s ease-in-out;

}

.logOutSpan {
    transition: transform, background-color, box-shadow .3s ease-in-out;

}

.logOutBtn:hover {
    transform: scale(1.2);

}

.linkedIn {
    height: 130px;
    width: 180px;
    transition: transform .3s ease-in-out;
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.transformOneOne:hover {
    transform: scale(1.1);
}

.mrTop {
    margin-top: -25px;
    margin-bottom: 20px;
}