.comment-bottom-border {
    margin-bottom: 5px;
    border-bottom: solid .1px black;
    opacity: .1;
    padding-bottom: 5px;
    /* border: red solid 1px; */
}

/* .commentBody {
    position: relative;
    background-color: whitesmoke;
    border: red solid 1px;
} */

.individualContent {
    border: whitesmoke 2px;
    padding: 10px;
    font-size: 14px;
}

.commentDisplayBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1.7em;
    /* border: red solid 1px; */
    overflow: wrap;
}

.firstContainer {
    width: fit-content;
    padding-right: 10px;
    height: 100%;
}

.secondCOntainer {
    width: 120vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: red solid 1px; */
}


.fullCommentName {
    display: flex;
    flex-direction: row;
}

.eachCommentAvtr {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 20px 20px;
}

.commentIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CommentsDisplayContainer {
    /* border: red solid 1px; */
    position: relative;
    width: 100%;
    max-height: 700px;
    overflow-y: scroll;
    /* overscroll-behavior-x: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}





.commentsCount {
    position: absolute;
    margin-bottom: 220px;
    margin-left: 20px;
    margin-top: 300px;
    font-size: 20px;
    cursor: pointer;
}

/* .commentContent::-webkit-scrollbar {
    color: red;
    width: 10px;
} */
/* 
.countSort {
    position: relative;
    bottom: 140px;
} */

.contentItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.commentContent {
    width: 100%;
    font-family: 'Patrick Hand', cursive;
}

.videoCommentTimeSession {
    font-size: 11px;
    margin-top: 4px;
    width: 100px;
    position: absolute;
}