.comment-bottom-border {
    margin-bottom: 5px;
    border-bottom: solid .1px black;
    opacity: .1;
    padding-bottom: 5px;
    /* border: red solid 1px; */
}

/* .commentBody {
    position: relative;
    background-color: whitesmoke;
    border: red solid 1px;
} */

.individualContent {
    position: relative;
    /* border: whitesmoke 2px; */
    padding: 10px;
    font-size: 14px;
    min-width: 100%;
    /* border: dotted 2px green; */
}

.commentDisplayBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1.7em;
    /* border: red solid 1px; */
    overflow: wrap;
}

.firstContainer {
    width: fit-content;
    padding-right: 10px;
    height: 100%;
}

.secondCOntainer {
    width: 100%;
    min-width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: red solid 1px; */
}


.fullCommentName {
    display: flex;
    flex-direction: row;
}

.eachCommentAvtr {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 20px 20px;

}

.commentIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CommentsDisplayContainer {
    /* border: black solid 2px; */
    position: relative;
    width: 70vw;
    max-height: 700px;
    overflow-y: scroll;
    /* overscroll-behavior-x: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.show-comment-btn {
    margin-left: 10px;
    padding: 3px 5px;
    border: .1px solid grey;
    border-radius: 5px;
    visibility: hidden;
    color: white;
    background-color: grey;
    /* cursor: pointer; */
}





/* .commentContent::-webkit-scrollbar {
    color: red;
    width: 10px;
} */
/* 
.countSort {
    position: relative;
    bottom: 140px;
} */

.contentItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: red dotted 2px; */
}

.commentContent {
    width: 100%;
    font-family: 'Patrick Hand', cursive;
}

.videoCommentTimeSession {
    font-size: 11px;
    margin-top: 4px;
    width: 100px;
    position: absolute;
}